[submodule "components/FastAccelStepper"]
	path = components/FastAccelStepper
	url = https://github.com/gin66/FastAccelStepper
[submodule "components/TM1638plus/TM1638plus"]
	path = components/TM1638plus/TM1638plus
	url = https://github.com/gavinlyonsrepo/TM1638plus
[submodule "components/LedcStepper"]
	path = components/LedcStepper
	url = https://github.com/vale075/LedcStepper
[submodule "components/TMC2209"]
	path = components/TMC2209
	url = https://github.com/janelia-arduino/TMC2209
